@import '@/assets/styles/css-modules.scss';

.index-headline {
  font-size: 6rem;
  font-weight: bold;
  color: $vintage-blue;
}
.index-message {
  font-size: 2rem;
  font-weight: bold;
  color: $vintage-blue;
}
