@import '../../assets/styles/css-modules.scss';
/* Setting Layer */

/* black */
$black: #000;
$black-dark-grey: #363636;

/* grey */
$grey: #808080;
$carbon: #333;
$goshawk-grey: #444;
$basalt-grey: #999;

/* white */
$white: #ffffff;
$white-dr-white: #fafafa;
$lighthouse: #f4f4f4;

/* blue */
$vintage-blue: #84bcb4; // main

/* green */
$devils-grass: #4caf50; // mui palette

/* red */
$spicy-berry: #d13267; // error
$amour: #ef5350; // mui palette

/* shadow color */
$black-shadow: rgba(0, 0, 0, 0.1);
$overlay: rgba(0, 0, 0, 0.6);

@mixin hoverAnime {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }

  @media (hover: none) {
    &:active {
      @content;
    }
  }
}

%button {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 0;
  border-radius: 3em;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  &.small {
    font-size: 12px;
    padding: 10px 16px;
  }
  &.medium {
    font-size: 14px;
    padding: 11px 20px;
  }
  &.large {
    font-size: 16px;
    padding: 12px 24px;
  }
  @include hoverAnime {
    opacity: 0.7;
  }
}

// NOTE:button-primary, button-secondaryで呼び出す
.button {
  &-primary-contained {
    @extend %button;
    color: white;
    background-color: $vintage-blue;
    border: 1px solid $vintage-blue;
  }
  &-primary-outlined {
    @extend %button;
    color: $vintage-blue;
    background-color: white;
    border: 1px solid $vintage-blue;
  }
  &-danger-contained {
    @extend %button;
    color: white;
    background-color: $amour;
    border: 1px solid $amour;
  }
  &-danger-outlined {
    @extend %button;
    color: $amour;
    background-color: white;
    border: 1px solid $amour;
  }
  &-success-contained {
    @extend %button;
    color: white;
    background-color: $devils-grass;
    border: 1px solid $devils-grass;
  }
  &-success-outlined {
    @extend %button;
    color: $devils-grass;
    background-color: white;
    border: 1px solid $devils-grass;
  }
}

.button-wrapper {
  display: flex;
  gap: 30px;
  justify-content: center;
  &.start {
    justify-content: start;
  }
  &.end {
    justify-content: end;
  }
}
