@import '@/assets/styles/css-modules.scss';

$small: 12px;
$medium: 14px;
$large: 16px;

$small-pd-y: 10px;
$medium-pd-y: 11px;
$large-pd-y: 13px;

$small-pd-x: 16px;
$medium-pd-x: 20px;
$large-pd-x: 24px;

.base-button {
  font-weight: 700;
  border-radius: 0.5em;
  box-sizing: border-box;
  line-height: 1;
  min-width: 150px;
  align-items: center;
  box-shadow: 0px 3px 10px $black-shadow;
  cursor: pointer;
  display: inline-flex;
  gap: 8px;
  justify-content: center;
  position: relative;
  text-align: center;
  &.small {
    font-size: $small;
    padding: $small-pd-y $small-pd-x;
  }
  &.medium {
    font-size: $medium;
    padding: $medium-pd-y $medium-pd-x;
  }
  &.large {
    font-size: $large;
    padding: $large-pd-y $large-pd-x;
  }
  @include hoverAnime {
    opacity: 0.5;
    transition: opacity 0.3s ease;
  }
  &.loading {
    pointer-events: none;
  }
  &.disabled {
    pointer-events: none;
    transition: opacity 0.3s ease;
  }
  &:disabled::before {
    opacity: 0.5;
  }
  &::before {
    background: $overlay;
    border-radius: 0.5em;
    bottom: -1px; // NOTE:button borderのpx分ネガティブマージンする
    content: '';
    left: -1px;
    opacity: 0;
    position: absolute;
    right: -1px;
    top: -1px;
    z-index: 2;
  }
}

.button {
  &-primary-contained {
    composes: base-button;
    color: white;
    background-color: $vintage-blue;
    border: 1px solid $vintage-blue;
  }
  &-primary-outlined {
    composes: base-button;
    color: $vintage-blue;
    background-color: white;
    border: 1px solid $vintage-blue;
  }
  &-danger-contained {
    composes: base-button;
    color: white;
    background-color: $amour;
    border: 1px solid $amour;
  }
  &-danger-outlined {
    composes: base-button;
    color: $amour;
    background-color: white;
    border: 1px solid $amour;
  }
  &-success-contained {
    composes: base-button;
    color: white;
    background-color: $devils-grass;
    border: 1px solid $devils-grass;
  }
  &-success-outlined {
    composes: base-button;
    color: $devils-grass;
    background-color: white;
    border: 1px solid $devils-grass;
  }
}
