@mixin hoverAnime {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }

  @media (hover: none) {
    &:active {
      @content;
    }
  }
}

%button {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 0;
  border-radius: 3em;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  &.small {
    font-size: 12px;
    padding: 10px 16px;
  }
  &.medium {
    font-size: 14px;
    padding: 11px 20px;
  }
  &.large {
    font-size: 16px;
    padding: 12px 24px;
  }
  @include hoverAnime {
    opacity: 0.7;
  }
}

.button {
  &-primary {
    @extend %button;
    color: white;
    background-color: #1ea7fd;
  }
  &-secondary {
    @extend %button;
    color: #333;
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
  }
}

.button-wrapper {
  display: flex;
  gap: 30px;
  justify-content: center;
  &.start {
    justify-content: start;
  }
  &.end {
    justify-content: end;
  }
}
