@import '@/assets/styles/css-modules.scss';

$small: 12px;
$medium: 14px;
$large: 16px;

$small-pd-y: 10px;
$medium-pd-y: 11px;
$large-pd-y: 13px;

$small-pd-x: 16px;
$medium-pd-x: 20px;
$large-pd-x: 24px;

.module {
  font-weight: 700;
  border-radius: 0.5em;
  box-sizing: border-box;
  line-height: 1;
  min-width: 150px;
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  gap: 8px;
  justify-content: center;
  position: relative;
  text-align: center;

  @include hoverAnime {
    opacity: 0.5;
    transition: opacity 0.3s ease;
  }
  // @include focusAnime {
  //   opacity: 0.5;
  //   transition: opacity 0.3s ease;
  // }
  @include boxShadow();

  &::before {
    background: $overlay;
    border-radius: 0.5em;
    bottom: -1px; // NOTE:button borderのpx分ネガティブマージンする
    content: '';
    left: -1px;
    opacity: 0;
    position: absolute;
    right: -1px;
    top: -1px;
    z-index: 2;
  }
}

// button-disabled
.module[aria-disabled='true'] {
  pointer-events: none;
  transition: opacity 0.3s ease;
}
.module[aria-disabled='true']::before {
  opacity: 0.5;
}

// button-size
.module[data-size='small'] {
  font-size: $small;
  padding: $small-pd-y $small-pd-x;
}
.module[data-size='medium'] {
  font-size: $medium;
  padding: $medium-pd-y $medium-pd-x;
}
.module[data-size='large'] {
  font-size: $large;
  padding: $large-pd-y $large-pd-x;
}

// button-variant-color
.module[data-variant='contained'][data-theme='primary'] {
  color: white;
  background-color: $vintage-blue;
  border: 1px solid $vintage-blue;
}
.module[data-variant='outlined'][data-theme='primary'] {
  color: $vintage-blue;
  background-color: white;
  border: 1px solid $vintage-blue;
}
.module[data-variant='contained'][data-theme='danger'] {
  color: white;
  background-color: $amour;
  border: 1px solid $amour;
}
.module[data-variant='outlined'][data-theme='danger'] {
  color: $amour;
  background-color: white;
  border: 1px solid $amour;
}
.module[data-variant='contained'][data-theme='success'] {
  color: white;
  background-color: $devils-grass;
  border: 1px solid $devils-grass;
}
.module[data-variant='outlined'][data-theme='success'] {
  color: $devils-grass;
  background-color: white;
  border: 1px solid $devils-grass;
}
