%label {
  cursor: pointer;
  border-radius: 0.25rem;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
}
.label {
  &-blue {
    @extend %label;
    background-color: #bfdbfe;
    color: #1e3a8a;
  }
  &-red {
    @extend %label;
    background-color: #fecaca;
    color: #b91c1c;
  }
  &-green {
    @extend %label;
    background-color: #c6f6d5;
    color: #047857;
  }
}
