@import '@/assets/styles/css-modules.scss';

$small: 12px;
$medium: 14px;
$large: 16px;

.base-circular-progress {
  display: inline-block;
  border-radius: 100%;
  animation: loading infinite linear 1s;

  &.small {
    width: $small;
    height: $small;
    margin-top: -1px;
    margin-bottom: -1px;
  }
  &.medium {
    width: $medium;
    height: $medium;
    margin-top: -1px;
    margin-bottom: -1px;
  }
  &.large {
    width: $large;
    height: $large;
    margin-top: -1px;
    margin-bottom: -1px;
  }
}

.circular-progress {
  &-primary-contained {
    composes: base-circular-progress;
    border: 2px solid white;
    border-top: 5px solid transparent;
  }
  &-primary-outlined {
    composes: base-circular-progress;
    border: 2px solid $vintage-blue;
    border-top: 5px solid transparent;
  }
  &-danger-contained {
    composes: base-circular-progress;
    border: 2px solid white;
    border-top: 5px solid transparent;
  }
  &-danger-outlined {
    composes: base-circular-progress;
    border: 2px solid $amour;
    border-top: 5px solid transparent;
  }
  &-success-contained {
    composes: base-circular-progress;
    border: 2px solid white;
    border-top: 5px solid transparent;
  }
  &-success-outlined {
    composes: base-circular-progress;
    border: 2px solid $devils-grass;
    border-top: 5px solid transparent;
  }
}
