@import '@/assets/styles/css-modules.scss';

.input {
  display: block;
  width: 100%;
  border-radius: 0.5rem;
  border-width: 1px;
  border-style: solid;
  border-color: #d1d5db;
  background-color: #f9fafb;
  padding: 1rem;
  color: #1f2937;
  @include hoverAnime {
    outline: none; // NOTE:ブラウザのデフォルトフォーカスを消す
    border-color: #3b82f6;
    transition: opacity 0.3s ease;
  }
}

.input:focus {
  outline: none; // NOTE:ブラウザのデフォルトフォーカスを消す
  border-color: #3b82f6;
}

.input-wrapper-description {
  color: $basalt-grey;
}
.input-wrapper-error {
  color: $spicy-berry;
}

.input-label-option {
  background-color: $basalt-grey;
  color: white;
  padding: 3px 6px;
  font-size: 1rem;
  border-radius: 10px;
}
.input-label-require {
  background-color: $spicy-berry;
  color: white;
  padding: 3px 6px;
  font-size: 1rem;
  border-radius: 10px;
}
